.flex{
	display: flex;
}

.disabled{
	opacity: 0.65;
}

/*
YOUTUBE
*/

.YoutubePage{
	display: flex;
	margin: 2px 4px;
	flex: 1;
	max-height: 100%;
}

.YoutubePage > div {
	background-color: rgba(211, 211, 211, 0.68);
	margin-bottom: 6px;
	border: 2px darkred solid;
	border-radius: 5px;
	padding: 5px;
	flex: 1;
}

.YoutubePage .YoutubePlayer {
	text-align: center;
}

.YoutubeContent{
	display: flex;
	flex: 1;
}

.YoutubeItem .description{
	flex: 1;
	word-wrap: break-word;
	height: 90px;
	overflow: hidden;
	margin-left: 5px;
}

.YoutubePlayList{
}

.YoutubePlayList .tooltip{
	position: absolute;
	background-color : white;
	border : 1px solid black;
	font-size : large;
	font-weight: bold;
	padding : 2px;
	width : 200px;
	text-align: center;
}

.YoutubePlayList .horizontal{
	display: inline-block;
	margin-right: 6px;
}

.YoutubePlayList .vertical{
	margin-bottom: 6px;
}

.YoutubePlayList .highlight{
	border : 5px solid gold;
}

.YoutubePlayList .over{
	border : 2px solid gold;
	margin : -2px;
}

.YoutubeContent .side{
	min-width: 150px;
	background-color: gray;
	text-align: center;
	max-height: 90vh;
	overflow-y: scroll;
}

.YoutubeContent .side .YoutubePlayList{
	margin: 5px;
}

.YoutubeContent .Navigation{
	margin-bottom: 10px;
}

.YoutubeContent .Navigation div{
	margin: 0px 10px;
	display: inline-block;
	font-size: large;
	font-style: italic;
	cursor: pointer;
}

.YoutubeContent .Navigation div:hover:not(.selected){
	font-style: normal;
	border-bottom: darkred solid 1px;
}

.YoutubeContent .Navigation .selected{
	font-weight: 900;
	font-style: normal;
	cursor: default;
	border-bottom: darkred solid 2px;
}

.YoutubeContent .TopOptions{
	margin: 10px 0px;
	border-bottom: 1px solid black;
}

.YoutubeContent .TopOptions div{
	padding: 0px 10px;
	cursor: pointer;
	display: inline-block;
	border: 1px solid darkred;
	margin-bottom: 4px;
	margin-right: 1px;
	font-size: larger;
}

.YoutubeContent .TopOptions div.selected{
	border: 2px solid gold;
	font-weight: 700;
	cursor: default;
}

.YoutubeContent .TopOptions div:hover:not(.selected){
	border: 2px solid gold;
}

.YoutubeContent .Loading{
	background-color: lightgray;
    width: 99vw;
    height: 96vh;
    z-index: 10;
    position: absolute;
    opacity: 0.9;
}

.YoutubeContent .Loading > *{
	margin: 0px;
    position: relative;
    top: 50%;
    left: 45%;
    font-size: xx-large;
    text-align: center;
}

/*
Fim -- Youtube
*/

/*
Loading
*/

.Loading{
	background-color : gray;
	width : 100vw;
	height : 100vh;
}

.Loading > * {
	margin: 0px;
}

/*
Fim -- Loading
*/

/*
Erro
*/

.Erro{
	background-color : darkred;
	width : 100vw;
	height : 100vh;
}

.Erro > * {
	margin: 0px;
}

/*
Fim -- Erro
*/